*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: "DM Sans",sans-serif;
    font-weight: Weight;
}

body{
    background-color: rgb(227, 226, 226);
}

.conteiner{
    box-shadow: 2px 2px 5px rgba(70, 70, 70, 0.644);
    background-color: white;
    border-radius: 25px;
    margin-top: 30px;
    width: 45%;
    height: 100%;
    margin-left: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/*SECCION AGREGAR TAREAS*/

#infoPerfil{
    max-width: 90%;
    width: 83%;
    color: rgb(68, 68, 68);
    margin-top: 30px;
}

.usuario{
    font-size: 33px;
    color: rgb(73, 73, 73);
    margin-top: 10px;
}

#infoPerfil #fecha{
    margin-bottom: 10px;
}

.addTask{
    max-width: 85%;
}

#infoPerfil span{
    font-size: 30px;
}

.addTask{
    max-width: 90%;
    margin-top: 20px;

    display: flex;
}

.addTask #input{
    width: 450px;
    height: 40px;
    background-color: rgb(227, 226, 226);
    box-shadow: 2px 2px 5px rgba(121, 121, 121, 0.551);
    color: rgb(71, 70, 70);
    font-weight: bold;
    padding-left: 15px;
    padding-left: 10px;
    margin-right: 10px
    
    ;
    border-radius: 12px;
    border: none;
    outline: none;
    cursor: pointer;
}

input::placeholder{
    font-size: 15px;
    color: rgb(102, 102, 102);
}

.addTask #buttonAdd{
    height: 40px;
    width: 100px;
    background-color: rgb(105, 202, 85);
    box-shadow: 2px 2px 5px rgba(121, 121, 121, 0.551);
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    border-radius: 12px; 
    border: none;
    outline: none;
    cursor: pointer;
}

#buttonAdd:hover{
    transform: scale(1.1);
}

/*SECCION TAREAS*/

.list-Task{
    max-width: 90%;
    width: 87%;
    color: white;
    margin-top: 15px;
}

.list-Task p{
    color: rgb(113, 111, 111);
    margin-bottom: 15px;
}

.list-Task .list li{
    background-color: rgba(55, 55, 55, 0.879);
    padding-left:10px;
    padding-top: 5px;
    margin: 10px 0;
    border-radius: 12px;
    display:flex;
    justify-content: space-between;
}

.list-Task .list li p{
    color: white;
    margin-top: 7px;
}

img{
    margin: 3px 5px;
    margin: 3px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

img:hover{
    transform: scale(1.2);
}

.cont-contador{
    color: rgb(44, 43, 43);
    font-size: 17px;
}




